extends layout

block content
    h1.
        Driver List
    ul
        each user, i in driver
            li
                p driver name: #{user.name}
                p driver email: #{user.email}
                p driver rating: #{user.rating}
                p driver status: #{user.status}
                p driver area: #{user.area}
                p driver truck type: #{user.truck}
                if user.status == 1
                    form(action='/approve', method='post')
                        input(type='text' value='#{user.uid}' name='token' style='display: none;')
                        button(type='submit') Approve     